:root {
  --background-color: #171310;
  --font-color: #ffffff;
  --primary-button-stor-glow: 0px 0px 24.57px 0px #fff, 0px 0px 49.14px 0px #fff,
    0px 0px 171.99px 0px #fff, 0px 0px 343.98px 0px #fff,
    0px 0px 589.68px 0px #fff, 0px 0px 1031.94px 0px #fff;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
}
main {
  margin: 0px 70px;
}
h1 {
  font-size: 9.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 3.125;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-size: 2.188;
  font-weight: 400;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 16px;
  }
}
