---
import "../styles/style.css";
import ForsideBillede from "../components/ForsideBillede.astro";
import ButtonsForside from "../components/ButtonsForside.astro";

import MenuLayout from "../layouts/MenuLayout.astro";
---

<MenuLayout title="Hej">
  <h1></h1>
</MenuLayout>

<ForsideBillede />

<ButtonsForside />
