---
import "../styles/style.css";
import MenuLayout from "../layouts/MenuLayout.astro";
import Instagram from "../components/Instagram.astro";
import Lokationmenu from "../components/Lokationmenu.astro";

---
<MenuLayout title="Hej">
<h1></h1>
</MenuLayout>

  <div class="header">
      <h1>PROGRAM</h1>
     <h1>2024<h1>
        <h3>INSTAGRAM HIGHLIGHTS</h3>
        <p>We are here to inspire, get inspired by others</p>
     </div>

<Instagram/>

<Lokationmenu/>


