---
import MenuLayout from "../layouts/MenuLayout.astro";
import "../styles/style.css";
import FactItem from "../components/FactItem.astro";
const data = await fetch(
  "https://slquoievbkllhlylrgwr.supabase.co/rest/v1/CLF2",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNscXVvaWV2YmtsbGhseWxyZ3dyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA3Njc5NDgsImV4cCI6MjAyNjM0Mzk0OH0.wlLjb_Yv7jAYDGof6lCqW1s0aZX0DaOFtMHIQm74_wE",
    },
  }
).then((res) => res.json());
console.log(data);
---

<MenuLayout>
  <article>
    <div class="header">
      <h1>02. Gaia</h1>
    </div>
    <h2>AF: MANI NIKDEL</h2>
    <img src="/test.png" alt="" />
    <div class="cols">
      <section>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
          porro. Esse consequatur aliquam placeat, veniam distinctio dignissimos
          perferendis nisi adipisci, ea illum laboriosam deserunt, libero dolore
          eaque dolorem corrupti quaerat.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          enim eos voluptates iusto numquam ut facilis debitis vero delectus,
          laboriosam quia quidem? Itaque ipsum veritatis sapiente illum soluta?
          Ex, quidem?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          enim eos voluptates iusto numquam ut facilis debitis vero delectus,
          laboriosam quia quidem? Itaque ipsum veritatis sapiente illum soluta?
          Ex, quidem?
        </p>
      </section>
      <section>
        <h3><strong>Lokation</strong><br />Ved Stranden 14</h3>
        <ul>
          <FactItem task="Lys" name="Katinka" />
          <FactItem task="Musik" name="Katinka" />
          <FactItem task="Lys" name="Katinka" />
          <FactItem task="Lys" name="Katinka" />
          <FactItem task="Lys" name="Katinka" />
          <FactItem task="Lys" name="Katinka" />
        </ul>
      </section>
    </div>
  </article>
</MenuLayout>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  img {
    object-fit: cover;
  }
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* skal stå til alle */

  @media only screen and (max-width: 800px) {
    img {
      height: 400px;
    }
    .cols {
      grid-template-columns: 1fr;
    }
    .cols section:last-child {
      order: -1;
    }
  }
</style>
