---

---

<div>
  <img src="/baggrund_forside.webp" alt="" />
</div>

<h1>COPENHAGEN <div class="light">LIGHT</div> FESTIVAL</h1>

<style>
  @media screen and (max-width: 800px) {
    img {
      object-fit: fill;
    }
  }

  img {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--font-color);
    font-size: 8rem;
  }

  .light {
    font-family: "Raleway Dots", sans-serif;
  }
</style>
