<div class="grid">
<article>
<img src="/img/ins1.webp" alt="hallo">
<p>@cphlightfest</p>
</article>
<article>
<img src="/img/ins2.webp" alt="hallo">
<p>@cphlightfest</p>
</article>
<article>
<img src="/img/ins3.webp" alt="hallo">
<p>@cphlightfest</p>
</article>
<article>
<img src="/img/ins4.webp" alt="hallo">
<p>@cphlightfest</p>
</article>
<article>
<img src="/img/ins5.webp" alt="hallo">
<p>@cphlightfest</p>
</article>
</div>
<style>
    img{
        width: 200px;
        height: 200px;
    }
    article{
      
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        place-items: center;
    }
</style>
