
<article>
      <h2> Lokation</h2>
<div>
    <button>Indre By</button>
</div>
    <button>Christianshavn</button>
    <button>Refshaleøen</button>
    <button>Teglholmen</button>
      <button>Ydre by</button>
</article>
<style>
    article{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-right: 3%;
    }
    button{
        width: 100px;
        background: none;
     border-color: white

    }


 button{
    color: white;
width: 208px;
height: 54px;
font-size: 20px;
font-family: "Montserrat", sans-serif;
    }




  button:hover {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ffffff,
        0 0 50px #fff,
        0 0 60px #fff,
        0 0 70px #fff;
    }
    to {
      text-shadow:
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #fff,
        0 0 50px #fff,
        0 0 60px #fff,
        0 0 70px #fff,
        0 0 80px #fff;
    }
  }
h2{
    text-decoration: underline;
    font-size: 35px;
}

div{
    padding-bottom:1.5%;
}

</style>