    <h3> Lokation</h3>
<article>

    <button>Indre By</button>
    <button>Christianshavn</button>
    <button>Refshaleøen</button>
    <button>Teglholmen</button>
      <button>Ydre by</button>
</article>
<style>
    article{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    button{
        width: 100px;
        background: none;
     border-color: white

    }
 button{
    color: white;

    }

</style>