---

---

<div class="video_og_tekst">
  <div>
    <video width="100%" autoplay loop muted>
      <source src="/video.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="tekst_ved_siden_af_video">
    <h2>LYSKUNSTEN I KØBENHAVN</h2>
    <p>Copenhagen Light Festival er en årligt tilbagevendende festival for lys, der transformerer det stille og kolde vintermørke til en særlig fejring af lyskunst, lysdesign og lysende oplevelser midt i København. <br /> <br /> I løbet af tre uger i februar præsenterer festivalen et bredt udvalg af lysbaserede værker – heriblandt skulptur, installation, projektion, event og belysning skabt af både etablerede og spirende lysdesignere, lyskunstnere, studerende og organisationer,</p>
  </div>
</div>

<style>
  .video_og_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tekst_ved_siden_af_video {
    margin-left: 20px;
    margin-right: 20px;
  }

  h2 {
    font-size: 2.3rem;
  }
  @media screen and (max-width: 1200px) {
    video {
    }
  }

  @media screen and (max-width: 800px) {
    video {
      width: 100%;
    }
    .video_og_tekst {
      grid: none;
    }
  }
</style>
